# mongodb atlas 
USERNAME=
PASSWORD=

#MONGO_URI=`mongodb+srv://doctordeath918:${password}@cluster0.9eksm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0`

#nodemailer entries
SMTP_SERVER_USERNAME=
SMTP_SERVER_PASSWORD=
OAUTH_CLIENTID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=
NEXTAUTH_SECRET=